* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.one {
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
}
.two {
    height: 95px;
    width: 200px;
    margin: auto;
    background-color: rgb(240, 240, 240);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.two img {
    height: 30px;
    width: 30px;
    margin-top: 10px;
}