h1{
    background-color: rgb(14, 229, 208);
    color: rgb(2, 2, 2);
    text-align: center;
    text-decoration: double;
}
.j{
    background-color: burlywood;
    color: blue;
}
#k{
    background-color: paleturquoise;
    color: brown;
}
