* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.j {
    height: 75px;
    width: 75px;
    background-color: white;
    border: 8px solid black;
    display: inline-block;
    margin-left: -4px;
    margin-top: -4px;
}
.k {
    height: 75px;
    width: 75px;
    background-color:#01A3AA;
    border: 0px solid black;
    display: inline-block;
    margin-left: -4px;
    margin-top: -4px;
}
.main {
    height: 600px;
    width: 600px;
    margin: auto;
    border: 1px solid rgb(189, 11, 11);
}