.main{
    width: 500px;
    height: 400px;
  
    margin: auto;
}
img{
    width: 500px;
    height: 400px;
    object-fit:cover;
}

.slick-prev:before, .slick-next:before{
    color: black;
}
.slick-dots li.slick-active button:before{
    color: red;
}
.slick-dots li button:before{
    font-size: 30px;
}